<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ProjectOxford.SpeakerRecognition" version="1.0.0.0" targetFramework="net452" />
  <package id="NAudio" version="1.7.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net452" />
</packages>